
  <h2>LEVEL SHOP</h2>

    <div class="cuerpo">

<form [formGroup]="form" (ngSubmit)="login()">
<p></p>
  <div>
    <label class="user">USER</label>
    <input type="text"  formControlName = "user"required>
  </div>

    <div>
      <label class="label">PASSWORD</label>
      <input class="input" type="password" formControlName = "password"required>
    </div>

    <button mat-raised-button color="primary"  type="submit" [disabled]="form.invalid">LOGIN</button>

    <label> {{error}} </label>

</form>
</div>
