button {
background-color: white;
  color: blue;
    margin-left: 60px;
    margin-right: 60px;
    padding-left: 20px;
    padding-right: 20px;
    width: 84px;
    height: 39px;
    margin-top: 10px;

}

input {
  width: 200;
  height: 30;
  border: 3px solid #3c0af2;
  padding: 5px;
}



div{
  width: 20px;
    height: 60px;
    padding-left: 10px;

}

h2{
  color: blue;
  margin-left: 500px;
  margin-right: 500px;
  width: 500px;
  font-size: xxx-large;
  margin-top: 30px;
}




.user {
  color: blue;
  margin-left: 50px;
  margin-right: 50px;
}

.label {
  color: blue;
  margin-left: 20px;
  margin-right: 20px;
}

.cuerpo {
  margin-left: 500px;
    margin-right: 500px;
    margin-bottom: 500px;
    font-size: 24px;

}


