
<nz-card class="card" nzTitle="LEVEL SHOP">
<form nz-form class="login-form" [formGroup]="form" (ngSubmit)="login()">

  <nz-form-item>
    <nz-form-control nzErrorTip="Please input your username!">
      <nz-input-group nzPrefixIcon="user">
        <input formControlName="userName" nz-input placeholder="Username" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control nzErrorTip="Please input your Password!">
      <nz-input-group nzPrefixIcon="lock">
        <input formControlName="password" nz-input type="password" placeholder="Password" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control>
      <button  class="login-form-button login-form-margin" nz-button nzType="primary" [disabled]="!form.valid">Log in</button>
    </nz-form-control>
  </nz-form-item>

    <label> {{error}} </label>
</form>
</nz-card>

