.button {
  background-color: white;
    color: blue;
    width: 220px;
    border-left-width: 4px;
    margin-left: 30px;
    margin-right: 30px;
    border-right-width: 4px;
    border-bottom-width: 4px;
    border-top-width: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 4px;
    padding-left: 4px;
    border-color: blue;

  }

  .button2{
    color: blue;
    width: 220px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 4px;
    padding-left: 4px;
    border-left-width: 4px;
    margin-left: 30px;
    margin-right: 30px;
    border-right-width: 4px;
    border-bottom-width: 4px;
    border-top-width: 4px;
    border-color: blue;
    background-color: white;
  }

  td {
    padding-right: 8px;
  }

  .width {
    width: 300px;
    height: 90px;
    margin-left: 450px;

  }
  .label{
    width: 232px;
  }
  .div{
    margin-left: 300px;
  }

  .mat{
    width: 300px;
    height: 70px;
    margin-top: 10px;
  }
