
h2{
  color: blue;
  font-size: 45px;
  margin-right: 500px;
  width: 500px;
  margin-left: 400px;
}


button{

  height: 36px;
  width: 516px;

  border-radius: 10px;
  border-color: blue;
}

.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin-left: 400px;
  margin-right: 400px;
  margin-top: 40px;
}

.width {
  width: 300px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);

}

td {
  padding-right: 8px;
}

.label{
  width: 232px;
}


