<form [formGroup]="form" (ngSubmit)="onSumbmit(form.value)">

  <div>
    <label>ID :</label>
    <input type="number" formControlName = "id"required>
  </div>

  <div>
    <label>CATEGORIA :</label>
    <input type="text" formControlName = "category"required>
  </div>

  <div>
    <label>NOMBRE :</label>
    <input type="text" formControlName = "title"required>
  </div>

  <div>
    <label>MARCA :</label>
    <input type="text" formControlName = "marca">
  </div>

  <div>
    <label>PRECIO :</label>
    <input type="number" formControlName = "price"required>
  </div>
  <p></p>
    <button type="submit" [disabled]="form.invalid">GUARDAR</button>
  </form>
