<h2>EDITAR PRODUCTO</h2>

<form nz-form [formGroup]="form" (ngSubmit)="onSumbmit(form.value)">



  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="id" nzRequired>ID</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your id!">
      <input nz-input type="number" formControlName="id"required>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="category" nzRequired>CATEGORIA</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your category!">
      <input nz-input type="text" formControlName="category"required>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="title" nzRequired>NOMBRE</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your name!">
      <input nz-input type="text" formControlName="title"required>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="marca" nzRequired>MARCA</nz-form-label>
   <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your marca!">
     <input nz-input type="text" formControlName="marca"required>
   </nz-form-control>
 </nz-form-item>

 <nz-form-item>
  <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="price" nzRequired>PRECIO</nz-form-label>
  <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your price!">
    <input nz-input type="number" formControlName="price"required>
  </nz-form-control>
</nz-form-item>

<nz-form-item nz-row class="register-area">
  <nz-form-control [nzSpan]="14" [nzOffset]="6">
    <button nz-button nzType="primary"  type="submit" [disabled]="form.invalid">GUARDAR</button>
  </nz-form-control>
</nz-form-item>

</form>
