[nz-button] {
  margin-bottom: 12px;
  left: auto;
  margin-left: 200px;
  width: 532px;
}

h2{
  color: blue;
  font-size: 45px;
  width: 500px;
  margin-top: 30px;
  margin-left: 220px;
  margin-right: 100px;
  margin-top: 10px;
  margin-bottom: 30px;
}
