.link {
  margin-left: 500px;
  margin-right: 500px;
  margin-bottom: 500px;
  margin-top: 500px;
  width: 500px;
  height: 300px;
  border-left-width: 50px;
  border-right-width: 50px;
  color: white;
}

h2{
  color: blue;
font-size: 45px;
  width: 300px;
  margin-left: 500px;
  margin-right: 500px;
}
