.link {
  display:inline;
  margin-left: 500px;
  margin-right: 500px;
  height: 300px;
  border-left-width: 50px;
  border-right-width: 50px;
  color:blue;
  margin-top: 30px;
    width: 600px;
    font-size: 45px;
}

h2{
  color: blue;
font-size: 45px;
  width: 300px;
  margin-left: 500px;
  margin-right: 500px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.menu{
  width: 250px;
    padding-bottom: 20px;
    padding-top: 20px;
}



