
<app-filter  (filterProducts)="operacionProducto($event)"></app-filter>
<div class="div">
<nz-card class="lista-tarjetas"  *ngFor="let producto of  productos$ |async" >
    <img nz-image [nzSrc] ='producto.image' alt="Imagen" class="img">
  <li class="tarjeta">
    <a [routerLink]="['/categorias/detalleDeProducto',producto.id]" class="a"> {{producto.category}} {{producto.title}} {{producto.price  | currency}} </a>
    <p></p>
    <a [routerLink]="['/categorias/editarProducto',producto.id]">EDITAR</a>
  </li>
</nz-card>
</div>



